# Your Wi-Fi SSID and password
wifi_domain: 
wifi_gateway: ""
wifi_password: ""
wifi_ssid: ""
wifi_subnet: ""
dns_server: ""
# Passwords and keys
api_password: ""
api_encryption_key: ""
ota_password: ""
fallback_password: ""
